body{
	text-align: center ; 
background:linear-gradient(to right,#05272c,#9d3bef);}
h1{
	font-weight: 5em ; 
	font-size : 5em ; 
	font-family: 'Monoton', cursive;
	letter-spacing : .2em;
}
h4{
	font-family: 'Fugaz One', cursive;
	color: rgba(252, 94, 3,0.6) ; 
	font-size: 1.3em ; 
}
#add{
	background: none ; 
	border: none ; 
	padding-left: 20px ; 
}

#add:hover{
	color : pink;

}

input{
	height: 45px ;
	background-color: rgba(184, 201, 133,0.5);	
	font-size: 1.3em ; 

}
.list-item {

	height: 50px; 
	padding: auto;
	margin: auto ; 
	margin-top: 7px ; 
	margin-bottom: 7px ; 
	width:550px ; 
	background-color: rgba(20,100,130,0.5);
	line-height: 50px ; 
	list-style-type : none;
	font-size: 1.5em ; 
	border: solid 1px; 
	border-radius: 25px ; 

}
.list-item:hover {
	background-color : rgba(20,100,140,0.8) ; 
}

.x{
	font-weight:  2em ;
	font-size: 1.5em ; 
	background : none ;
	border: none ; 
	padding-right: 20px ;
	line-height: 50px ; 
	float: right;
}

.x:hover{
	color: red ; 
}

.task{
	float: left;
	padding-left: 10px ; 
	text-transform: capitalize; 
}
